<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.epam.cordova.notification" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Notification</name><js-module name="Notification" src="www/Notification.js"><clobbers target="cordova.plugins.Notification" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Notification"><param name="android-package" value="com.epam.cordova.notification.Notification" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/Notification.java" target-dir="src/com/epam/cordova/notification/Notification" /></platform></plugin>